.container {
    padding: 10px;
    margin: 10px;
    background: white;
}

.left-container,.right-containter{
    margin: 5px 10px;
    padding: 10px 10px;
    background: -webkit-linear-gradient(rgba(82,76,76,1), rgba(113,132,230,1));
    background: -o-linear-gradient(rgba(82,76,76,1), rgba(113,132,230,1));
    background: -moz-linear-gradient(rgba(82,76,76,1), rgba(113,132,230,1));
    background: linear-gradient(rgba(82,76,76,1), rgba(113,132,230,1));
    border-radius: 25px;
    box-shadow: 10px 10px 10px #000000;
    display: inline-table;
}

.right-containter{
    margin: 5px 10px;
    padding: 10px 10px;
    background: -webkit-linear-gradient(rgba(82,76,76,1), rgba(113,132,230,1));
    background: -o-linear-gradient(rgba(82,76,76,1), rgba(113,132,230,1));
    background: -moz-linear-gradient(rgba(82,76,76,1), rgba(113,132,230,1));
    background: linear-gradient(rgba(82,76,76,1), rgba(113,132,230,1));
    border-radius: 25px;
    box-shadow: 10px 10px 10px #000000;    
    display: inline-table;
}

#whiteboard{
    border : 3px solid #000000;
    background: #FFFFFF;
    border-radius: 20px;
    cursor: url(../img/use151.cur), pointer;
}

#canvas-container{
    border-radius: 20px;
    /*background: white;*/
}

#chatlog {
    background: #ffffff;
    border-radius: 10px;
    resize: none;
    width: 100%;
    height: 495px;  
}

#user-name{
    position: absolute;
    right: 15px;
    border-radius: 5px;
}

#output-text{
    width: 100%;
    resize: none;
    border-radius: 5px;
}

#pencil-thickness{
    display: inline-block;
    width: 100px;
}

#pencil-conteiner{
    display: inline-block;

}

#btn-container{
    display: inline-block;
    position: absolute;
    right: 10px;
}


